<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../../assets/images/smiley2.png">


    <link rel="stylesheet" href="../../assets/css/homepage.css">
    <link rel="stylesheet" href="../../assets/css/ImageStyling.css">
    <link rel="stylesheet" href="../../assets/css/boxStyling.css">
    <link rel="stylesheet" href="../../assets/css/headerFooterStyling.css">

    <title>$$DOCUMENT_TITLE$$</title>
</head>

<body>

    <div class="header">
        <nav>
            <a href="/"><img id="smiley_logo" class="smiley_logo" src="../../assets/images/smiley2.png"
                    alt="smiley logo"></a>

            <a class="lektionLink" href="/lektion1">lektion 1</a>

            <a class="lektionLink" href="/lektion2">lektion 2</a>

            <a class="lektionLink" href="/lektion3">lektion 3</a>

            <a class="lektionLink" href="/lektion4">lektion 4</a>

            <a class="lektionLink" href="/lektion5">lektion 5</a>

            <a class="lektionLink" href="/lektion6">lektion 6</a>
        
        </nav>
    </div>

    <main>